.content {
   width: 100%;
   background-color: #ffffff;
}

.menu-row {
   border-bottom: 2px solid #f5f5f5;
		// .menu-row__list
		&__list {
         height: 60px;
         max-width: 420px;
         margin: 0 auto;
         display: flex;
         align-items: center;
         @media (max-width: 425px) {
            flex-wrap: wrap;
            height: 120px;
            padding: 12px 0px;
            justify-content: center;
         }
         li {
            margin: 0 auto;
            @media (max-width: 425px) {
               flex: 0 1 50%;
               padding: 0px 0px 0px 10%;
            }
         }
		}
		// .menu-row__link
		&__link {
         font-size: 15px;
         line-height: 1.2;
         font-weight: 400;
         color: #3c3c3c;
         &:hover {
            font-weight: 700;
            color: #ada074;
         }
		}
}



////////////////////////////////////////////

.about {
   padding: 126px 0px 90px 0px;
   text-align: center;
   @media (max-width: 767px) {
      padding: 40px 0px 40px 0px;
   }
   // .about__container
   &__container {
   }
   // .about__body
   &__body {
   }
   // .about__main-title
   &__main-title {
   }
   // .about__body
   &__body {
   }
   // .about__title
   &__title {
   }
   // .about__text
   &__text {
      font-size: 14px;
      line-height: 25px;
      font-weight: 300;
      color: #868585;
      padding: 30px 0px 64px 0px;
      max-width: 690px;
      margin: 0 auto;
      @media (max-width: 767px) {
         padding: 30px 0px 44px 0px;
      }
   }

   // .about__collumns
   &__collumns {
      display: flex;
      justify-content: center;
      margin: 0px -18px;
      @media (max-width: 767px) {
         display: block;
      }
   }
   // .about__collumn
   &__collumn {
   }
}
.about-collumn {
   flex: 0 1 296px;
   padding: 0px 18px;
   &:nth-child(3) {
      img {
         transform: translate(13%, 0%);
      }
   }
   @media (min-width: 767px) and (max-width: 845px) {
      &:nth-child(2) {
         padding: 0px 0px;
      }
   }
   @media (max-width: 767px) {
      &:not(:last-child) {
         padding-bottom: 38px;
      }
   }
   // .about-collumn__img
   &__img {
      border: 1px solid #f0f0f0;
      border-radius: 50%;
      width: 92px;
      height: 92px;
      margin: 0 auto;
      position: relative;
      img {
         position: absolute;
         top: 0;
         bottom: 0;
         left: 0;
         right: 0;
         margin: auto;
      }
   }
   // .about-collumn__title
   &__title {

      font-size: 22px;
      line-height: 1.2;
      font-weight: 400;
      letter-spacing: 0.16em;
      color: #000000;
      padding: 36px 0px 28px 0px;
      @media (max-width: 767px) {
         padding: 18px 0px 14px 0px;
      }
   }
   // .about-collumn__text
   &__text {
      font-size: 14px;
      line-height: 26px;
      font-weight: 300;
      color: #868585;
   }
}



///////////////////////////////////////////

.portfolio {
   background-color: #f3f3f3;
   padding: 106px 0px 0px 0px;
   @media (max-width: 767px) {
      padding: 40px 0px 0px 0px;
   }
   // .portfolio__container
   &__container {
   }
   // .portfolio__body
   &__body {
   }
   // .portfolio__main-title
   &__main-title {
   }
   // .portfolio__filter
   &__filter {
   }
   // .portfolio__items
   &__items {
      margin: 0px -16px;
      display: flex;
      flex-wrap: wrap;
   }
   // .portfolio__collumn
   &__collumn {
      flex: 0 1 50%;
      padding: 8px 16px;
      @media (max-width: 767px) {
         flex: 0 1 100%;
      }
   }
   // .portfolio__item
   &__item {
      img {
         width: 100%;
         height: 100%;
      }
   }
   // .portfolio__btn
   &__btn {
      padding: 56px 0px 62px 0px;
      text-align: center;
      @media (max-width: 767px) {
         padding: 32px 0px 42px 0px;
      }
      a {
         padding: 16px 42px;
         border: 1px solid #000000;

         font-size: 16px;
         line-height: 1.2;
         font-weight: 400;
         letter-spacing: 0.06em;
         color: #000000;
         transition: all 0.3s ease 0s;
         &:hover {
            color: #ffffff;
            background-color: rgb(214, 214, 214);
         }
      }
   }
}

.filter {
   // .filter__list
   &__list {
      padding: 48px 0px 128px 0px;
      display: flex;
      justify-content: center;
      @media (max-width: 767px) {
         padding: 38px 0px 18px 0px;
      }
   }
   // .filter__item
   &__item {
      margin: 0px 23px;
      font-size: 15px;
      line-height: 1.2;
      font-weight: 400;
      color: #3c3c3c;
      cursor: pointer;
   }
}



////////////////////////////////////////////

.partners {
   z-index: 1;
   padding: 92px 0px 100px 0px;
   position: relative;
   @media (max-width: 767px) {
      padding: 52px 0px 60px 0px;
   }
   // .partners__background
   &__background {
      img {
         object-fit: cover;
         object-position: center bottom;
         z-index: -1;
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
      }
   }
   // .partners__container
   &__container {
   }
   // .partners__title
   &__title {
      text-align: center;
      font-size: 30.4px;
      line-height: 1.2;
      font-weight: 300;
      letter-spacing: 0.06em;
      color: #ffffff;

      padding: 0px 0px 92px 0px;
      @media (max-width: 767px) {
         padding: 0px 0px 52px 0px;
      }
   }
   // .partners__logos
   &__logos {
      max-width: 590px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
   }
   // .partners__logo
   &__logo {
      text-align: center;
      @media (max-width: 767px) {
         flex: 1 1 50%;
         &:nth-child(1),
         &:nth-child(2) {
            padding-bottom: 20px;
          }
      }
   }
}



///////////////////////////////////////////

.contact {
   padding: 182px 0px 102px 0px;
   @media (max-width: 767px) {
      padding: 40px 0px 50px 0px;
   }
   // .contact_container
   &_container {
   }
   // .contact__main-title
   &__main-title {
   }
   // .contact__body
   &__body {
      display: flex;
      flex-wrap: wrap;
      padding: 118px 0px 0px 0px;
      @media (max-width: 767px) {
         padding: 40px 0px 0px 0px;
      }
   }
   // .contact__form-body
   &__form-body {
      flex: 0 1 100%;
      @media (min-width: 767px) {
         flex: 0 1 50%;
         padding-right: 14px;
      }
   }
   // .contact__form
   &__form {
      padding: 0px 0px 30px 0px;
      @media (min-width: 767px) {
         max-width: 384px;
         margin-left: auto;
      }
   }
   // .contact__info
   &__info {
      flex: 0 1 100%;
      text-align: center;
      @media (min-width: 767px) {
         text-align: initial;
         flex: 0 1 50%;
         max-width: 254px;
         padding-left: 14px;
      }
   }
   // .contact__idea-info
   &__idea-info {
      margin-bottom: 34px;
      font-size: 14px;
      line-height: 26px;
      font-weight: 300;
      color: #000000;
   }
   // .contact__name-info
   &__name-info {
      margin-bottom: 22px;
      font-size: 14px;
      line-height: 26px;
      font-weight: 700;
      color: #000000;
   }
   // .contact__media-info
   &__media-info {
      display: flex;
      @media (max-width: 767px) {
         justify-content: center;
      }
   }
   // .contact__media-circle
   &__media-circle {
      width: 27px;
      height: 27px;
      border: 2px solid #000000;
      border-radius: 50%;
      margin: 0px 12px 12px 0px;
      &:nth-child(2) {
         padding: 3px 0px 0px 6px;
      }
      &:nth-child(1) {
         padding: 4px 0px 0px 6px;
      }
      @media (max-width: 767px) {
         text-align: initial;
         &:nth-child(2) {
            margin: 0px 0px 12px 0px;
         }
      }
   }
   // .contact__email-info
   &__email-info {
      font-size: 14px;
      line-height: 26px;
      font-weight: 700;
      color: #000000;
      span {
         font-weight: 300;
      }
   }
}

.form {
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-end;
   @media (max-width: 767px) {
      justify-content: flex-start;
   }
   // .form__collumn
   &__collumn {
      &:nth-child(1) {
         flex: 0 1 50%;
         padding: 0px 28px 20px 0px;
      }
      &:nth-child(2) {
         flex: 0 1 50%;
         padding: 0px 0px 20px 28px;
      }
      @media (max-width: 520px) {
         &:nth-child(1) {
            flex: 0 1 100%;
            padding: 0px 0px 20px 0px;
         }
         &:nth-child(2) {
            flex: 0 1 100%;
            padding: 0px 0px 20px 0px;
         }
      }
      &:nth-child(3) {
         flex: 0 1 100%;
         padding: 50px 0px 40px 0px;
         @media (max-width: 767px) {
            padding: 40px 0px 20px 0px;
         }
      }
   }
   // .form__label
   &__label {
      font-size: 14px;
      line-height: 1.2;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.06em;
      color: #000000;
      padding: 0px 0px 16px 0px;
   }
   // .form__name
   &__name {
      outline: none;
      height: 35px;
      width: 100%;
      border-top: 2px solid #000000;
      background-color: #f8f7f7;
      padding: 0px 4px 0px 4px;
      &:focus {
         border-top: 2px solid #0a37c8;
      }
   }
   // .form__email
   &__email {
      outline: none;
      height: 35px;
      width: 100%;
      border-top: 2px solid #000000;
      background-color: #f8f7f7;
      padding: 0px 4px 0px 4px;
      &:focus {
         border-top: 2px solid #0a37c8;
      }
   }
   // .form__message
   &__message {
      font-family: Arial;
      resize: none;
      outline: none;
      height: 118px;
      width: 100%;
      border-top: 2px solid #000000;
      background-color: #f8f7f7;
      padding: 6px 4px 0px 4px;
      &:focus {
         border-top: 2px solid #0a37c8;
      }
   }
   // .form__btn
   &__btn {
      font-size: 14px;
      line-height: 1.2;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.06em;
      color: #000000;
      background-color: #ffffff;
      cursor: pointer;
   }
}
