* {
   margin: 0;
   padding: 0;
   border: 0;
   box-sizing: border-box;
}
a {
   text-decoration: none;
}
ul, ol, li {
   list-style: none;
}

body {
   height: 100%;
   font-family: Lato;
   font-size: 14px;
}

.wrapper {
   overflow: hidden;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
}

._container {
   padding: 0px 12px;
   max-width: 1124px;
   margin: 0 auto;
}

.main-title {
   text-align: center;
   // .main-title__text
   &__text {
      font-size: 34px;
      line-height: 1.2;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.16em;
      color: #000000;
      padding: 0px 0px 18px 0px;
   }
   span {
      display: inline-block;
      width: 82px;
      height: 2px;
      background-color: #000000;
      margin: 0px 0px 0px 0px;
   }
}